body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:whitesmoke ;
    color: blue;
}

header{
    background-color: darkblue;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

.photo{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid white;
}

section{
    padding: 20px;
    margin: 10px 30px;
    background-color: white;
    border-left: 5px solid blueviolet;
}

footer{
    background-color: darkblue;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}